<launch>
    <!-- la3dm_server -->
    <!-- Sets up an la3dm node with parameters specified by args -->
    <!-- See la3dm/config/methods/bgkoctomap.yaml for config parameters -->

    <!-- Define transform between sensor and map as needed -->
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 odom map 50"/>
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher2" args="0 0 0 0 0 0 base_link velodyne 50"/>

    <param name="/use_sim_time" value="true"/>

    <arg name="method" default="bgklvoctomap"/>
    <arg name="method_config" value="$(find la3dm)/config/methods"/>

    <!--Start the LA3DM node -->
    <node pkg="la3dm" type="$(arg method)_server" name="la3dm_server" output="screen">

        <!-- Load method configuration from file -->
        <rosparam file="$(arg method_config)/$(arg method)_large_map.yaml" command="load"/>
        
    </node>

</launch>
