<launch>
    <!-- la3dm_static -->
    <!-- Sets up an la3dm node with parameters specified by args -->
    <!-- See la3dm/config/methods/bgkoctomap.yaml for config parameters -->
    <arg name="method" default="bgkoctomap"/>

    <!-- 
        Choose world:
        - sim_structured
        - sim_unstructured
     -->
    <arg name="data" value="$(find la3dm)/data"/>

    <arg name="dataset" default="sim_structured"/>
    <arg name="dir" value="$(arg data)/$(arg dataset)"/>

    <arg name="prefix" default="$(arg dataset)"/>

    <arg name="method_config" value="$(find la3dm)/config/methods"/>
    <arg name="data_config" value="$(find la3dm)/config/datasets/"/>

    <!--Start the LA3DM node -->
    <node pkg="la3dm" type="$(arg method)_server" name="la3dm_server" output="screen">

        <param name="dir" value="$(arg dir)"/>
        <param name="prefix" value="$(arg prefix)"/>

        <!-- Load method configuration from file -->
        <rosparam file="$(arg method_config)/$(arg method).yaml" command="load"/>

        <!-- Load dataset configuration from file -->
        <rosparam file="$(arg data_config)/$(arg dataset).yaml" command="load"/>
        
    </node>

</launch>
